@{
    Layout = null;
}
<script type="text/ng-template" id="course">
    <div class="view-header course-header">
        <ol class="breadcrumb">
            <li>我的位置：<a href="{{homePath}}">首页</a></li>
            <li>课程管理</li>
            <li><a href="{{prevPath}}">{{prevPathName}}</a></li>
            <li class="active">{{courseId ? "编辑课程" : "创建课程"}}</li>
        </ol>
        <h2 class="view-title">{{courseId ? "编辑课程" : "创建课程"}}</h2>
    </div>
    <div class="view-container">
        <div class="table-title-wrapper title-tab">
            <span class="table-title">课程信息</span>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="courseName" class="form-item-title">课程名称</label>
                <input type="text" class="form-control" id="courseName" placeholder="最长25个汉字" ng-maxlength="25" maxlength="25" required ng-model="course.courseName">
            </div>
            <div class="form-group course-category">
                <label for="courseName" class="form-item-title">所属类目</label>
                <select class="form-control" id="category1" ng-model="c[1]" ng-show="categories[1]" ng-options="category as category.cateName for category in categories[1]">
                    <option value="">请选择类目</option>
                </select>
                <select class="form-control" id="category2" ng-model="c[2]" ng-show="categories[2] && categories[2][0]" ng-options="category as category.cateName for category in categories[2]">
                    <option value="">请选择类目</option>
                </select>
                <select class="form-control" id="category3" ng-model="c[3]" ng-show="categories[3] && categories[3][0]" ng-options="category as category.cateName for category in categories[3]">
                    <option value="">请选择类目</option>
                </select>
                <select class="form-control" id="category4" ng-model="c[4]" ng-show="categories[4] && categories[4][0]" ng-options="category as category.cateName for category in categories[4]">
                    <option value="">请选择类目</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-item-title">课程图片</label>
                <ul class="form-item-image clearfix" ng-show="isHjClass">
                    <li class="text-center pull-left">
                        <div class="form-item-image-wrapper" ng-mouseenter="isFiles=file||course.template.bigCoverUrl" ng-mouseleave="isFiles=false">
                            <a href="javascript:;" class="btn form-item-btn" ng-disabled="courseId" ng-show="!file && !course.template.bigCoverUrl" 
                               ngf-select ng-model="file" ngf-multiple="false" accept="image/*">
                                <span class="add-m-icon"></span>
                            </a>
                            <img class="form-item-image-detail" ng-show="file || course.template.bigCoverUrl"
                                 ngf-src="file" ng-src="{{course.template.bigCoverUrl}}" ngf-accept="'image/*'">
                            <div class="background-overlay" ng-show="isFiles"></div>
                            <button type="button" class="btn btn-success btn-do-s form-item-btn-edit" ng-click="hasUploadImg=false" ng-show="isFiles" ngf-select
                                    ngf-change="fileSelected($files, 1)" ngf-keep="true" ng-model="file" ngf-multiple="false" accept="image/*">
                                修改封面
                            </button>
                        </div>
                        <span class="image-inform">大图（1000*600px）</span>
                    </li>
                    <li class="text-center pull-left">
                        <div class="form-item-image-wrapper" ng-mouseenter="isCoverFiles=coverFile||course.template.coverUrl" ng-mouseleave="isCoverFiles=false">
                            <a href="javascript:;" class="btn form-item-btn" ng-disabled="courseId" ng-show="!coverFile && !course.template.coverUrl"
                               ngf-select ng-model="coverFile" ngf-multiple="false" accept="image/*">
                                <span class="add-m-icon"></span>
                            </a>
                            <img class="form-item-image-detail" ng-show="coverFile || course.template.coverUrl"
                                 ngf-src="coverFile" ng-src="{{course.template.coverUrl}}" ngf-accept="'image/*'">
                            <div class="background-overlay" ng-show="isCoverFiles"></div>
                            <button type="button" class="btn btn-success btn-do-s form-item-btn-edit" ng-click="hasUploadImg=false" ng-show="isCoverFiles" ngf-select
                                    ngf-change="fileSelected($files, 2)" ngf-keep="true" ng-model="coverFile" ngf-multiple="false" accept="image/*">
                                修改封面
                            </button>
                        </div>
                        <span class="image-inform">中图（205*135px）</span>
                    </li>
                    <li class="text-center pull-left">
                        <div class="form-item-image-wrapper" ng-mouseenter="isIconFiles=iconFile||course.template.iconUrl" ng-mouseleave="isIconFiles=false">
                            <a href="javascript:;" class="btn form-item-btn" ng-disabled="courseId" ng-show="!iconFile && !course.template.iconUrl"
                               ngf-select ng-model="iconFile" ngf-multiple="false" accept="image/*">
                                <span class="add-m-icon"></span>
                            </a>
                            <img class="form-item-image-detail" ng-show="iconFile || course.template.iconUrl"
                                 ngf-src="iconFile" ng-src="{{course.template.iconUrl}}" ngf-accept="'image/*'">
                            <div class="background-overlay" ng-show="isIconFiles"></div>
                            <button type="button" class="btn btn-success btn-do-s form-item-btn-edit" ng-click="hasUploadImg=false" ng-show="isIconFiles" ngf-select
                                    ngf-change="fileSelected($files, 3)" ngf-keep="true" ng-model="iconFile" ngf-multiple="false" accept="image/*">
                                修改封面
                            </button>
                        </div>
                        <span class="image-inform">小图（87*110px）</span>
                    </li>
                </ul>

                <ul class="form-item-image clearfix" ng-show="!isHjClass">
                    <li class="text-center pull-left">
                        <div class="form-item-image-wrapper" ng-mouseenter="isaddshow=file||course.template.bigCoverUrl" ng-mouseleave="isaddshow=false">
                            <a href="javascript:;" class="btn form-item-btn" ng-disabled="courseId" ng-show="!file && !course.template.bigCoverUrl"
                               ngf-select ng-model="file" ngf-multiple="false" accept="image/*">
                                <span class="add-m-icon"></span>
                            </a>
                            <img class="form-item-image-detail" ng-show="file || course.template.bigCoverUrl" ngf-src="file"
                                 ng-src="{{course.template.bigCoverUrl}}" ngf-accept="'image/*'">
                            <div class="background-overlay" ng-show="isaddshow"></div>
                            <button type="button" class="btn btn-success btn-do-s form-item-btn-edit" ng-click="hasUploadImg=false" ng-show="isaddshow" ngf-select
                                    ngf-change="fileSelected($files, 1)" ngf-keep="true" ng-model="file" ngf-multiple="false" accept="image/*">
                                修改封面
                            </button>
                        </div>
                        <span class="image-inform">大图（1000*600px）</span>
                    </li>
                </ul>
            </div>
            <div class="form-group course-btn-wrapper">
                <button type="button" class="btn btn-success btn-do-m" ng-hide="courseId" ng-click="createCourse()" ng-dblclick="return;" ng-disabled="processing" op-func="Organization_Courses_Create">
                    保存
                </button>
                <button type="button" class="btn btn-success btn-do-m" ng-show="courseId" ng-click="updateCourse()" ng-dblclick="return;" ng-disabled="processing"
                     op-multi-func="Platform_Courses_All_Update_SaveInfo,Organization_Courses_All_Update_SaveInfo,Organization_Courses_My_Update_SaveInfo">
                    保存更改
                </button>
                <button type="button" class="btn btn-success btn-do-m" ng-show="courseId" ng-click="goToClassesPage()"
                        op-multi-func="Platform_Courses_All_Classes_Query,Organization_Courses_All_Classes_Query,Organization_Courses_My_Classes_Query">
                    查看已开班级
                </button>
            </div>
        </form>
        <div class="course-detail-wrapper" ng-show="courseId">
                <div class="table-title-wrapper title-tab">
                    <span class="table-title">课程大纲</span>
                    <span class="table-title-msg">（课程大纲将自动保存）</span>
                </div>
                <div class="table-header-action clearfix">
                    <div class="table-header-btn pull-right">
                        <button class="btn btn-success btn-do-m" ng-click="studyunitDialog()" op-course-func="Platform_Courses_All_Update_AddUnit,Organization_Courses_All_Update_AddUnit,Organization_Courses_My_Update_AddUnit">
                            添加单元
                        </button>
                        <button class="btn btn-success btn-do-m" ng-click="importByExcel()" op-course-func="Platform_Courses_All_Update_Import,Organization_Courses_All_Update_Import,Organization_Courses_My_Update_Import">
                            导入课程大纲
                        </button>
                    </div>
                    <div class="table-header-operate">
                        <span class="table-header-operate-item">
                            <input type="checkbox" ng-show="course&&course.hasLesson" ng-model="isSelectAllLessons" ng-change="selectAllLessonsChanged()" />全选
                        </span>
                        <button type="button" class="btn btn-link" ng-show="course&&course.hasLesson" ng-click="deleteSelectedLesson()" op-course-func="Platform_Courses_All_Update_BatchDeleteLesson,Organization_Courses_All_Update_BatchDeleteLesson,Organization_Courses_My_Update_BatchDeleteLesson">
                            批量删除
                        </button> 
                        <button type="button" class="btn btn-link" ng-show="course&&course.hasLesson" ng-click="syncLessons()"
                                op-course-func="Platform_Courses_All_Update_Synchronous,Organization_Courses_All_Update_Synchronous,Organization_Courses_My_Update_Synchronous">
                            批量同步到关联班级
                        </button>         
                    </div>

                </div> 
                <table class="table course-table table-thin">
                    <thead>
                        <tr>
                            <th class="col-mm-8">课名</th>
                            <th>关联课件</th>
                            <th class="col-fix-1">操作</th>
                        </tr>
                    </thead>
                </table>
                <div class="course-item-wrapper" ng-repeat="unit in units">
                    <div class="course-item-title table-operate">
                        <span class="course-item-order impt-text">【单元{{unit.unitSequence}}】 {{unit.unitName}}</span>
                        <a href="javascript:;" title="编辑单元" ng-click="studyunitDialog(unit)" op-multi-func="Platform_Courses_All_Update_UpdateUnit,Organization_Courses_All_Update_UpdateUnit,Organization_Courses_My_Update_UpdateUnit">
                            <span class="icon-edit operate-icon"></span>
                        </a>
                        <a href="javascript:;" title="删除单元" ng-click="deleteStudyUnit(unit)"
                                op-multi-func="Platform_Courses_All_Update_DeleteUnit,Organization_Courses_All_Update_DeleteUnit,Organization_Courses_My_Update_DeleteUnit">
                            <span class="icon-delete operate-icon"></span>
                        </a>
                        <span class="icon-up show-icon pull-right"  ng-hide="isDetailsHide{{unit.unitSequence}}" ng-click="isDetailsHide{{unit.unitSequence}} = true"></span>
                        <span class="icon-down show-icon pull-right" ng-hide="!isDetailsHide{{unit.unitSequence}}" ng-click="isDetailsHide{{unit.unitSequence}} = false"></span>
                    </div>
                    <table class="table table-hover table-thin" ng-hide="isDetailsHide{{unit.unitSequence}}">
                        <tbody>
                            <tr ng-repeat="lesson in unit.lessons">
                                <td class="col-mm-8">
                                    <input type="checkbox" ng-model="lesson.isSelected" ng-change="selectLessonChanged()"
                                           op-multi-func="Platform_Courses_All_Update_BatchDeleteLesson,Organization_Courses_All_Update_BatchDeleteLesson,Organization_Courses_My_Update_BatchDeleteLesson ,Platform_Courses_All_Update_Synchronous,Organization_Courses_All_Update_Synchronous,Organization_Courses_My_Update_Synchronous" /> {{lesson.lessonSequence}}
                                    <span> {{lesson.lessonName}}</span>
                                    <span class="icon live-icon" ng-show="{{lesson.lessonTypeDescription == '直播课'}}"></span>
                                    <span class="icon unlive-icon" ng-show="{{lesson.lessonTypeDescription == '录播课'}}"></span>      
                                </td>
                                <td class="table-operate">
                                    <a ng-show="lesson.needRelateToCourseware && lesson.coursewareId">{{lesson.coursewareId}}</a>
                                    <a class="form-item-inform" ng-show="lesson.needRelateToCourseware && !lesson.coursewareId">尚未关联</a>
                                    <div class="dropdown" ng-show="lesson.needRelateToCourseware" op-dynamic-show="a">
                                        <span id="publishbtn" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">操作 <span class="caret"></span></span>
                                        <ul class="dropdown-menu course-status-menu" role="menu" aria-labelledby="publishbtn">
                                            <li ng-show="lesson.coursewareId">
                                                <a href="javascript:;" ng-click="relateCourseware(lesson)" op-multi-func="Platform_Courses_All_Update_UpdateCourseware,Organization_Courses_All_Update_UpdateCourseware,Organization_Courses_My_Update_UpdateCourseware">更改</a>
                                            </li>
                                            <li ng-show="lesson.coursewareId">
                                                <a href="javascript:;" ng-click="cancelRelation(lesson)" op-multi-func="Platform_Courses_All_Update_UpdateCourseware,Organization_Courses_All_Update_UpdateCourseware,Organization_Courses_My_Update_UpdateCourseware">取消关联</a>
                                            </li>
                                            <li ng-hide="lesson.coursewareId">
                                                <a href="javascript:;" ng-click="relateCourseware(lesson, unit)" op-multi-func="Platform_Courses_All_Update_UpdateCourseware,Organization_Courses_All_Update_UpdateCourseware,Organization_Courses_My_Update_UpdateCourseware">关联课件</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="table-operate col-fix-1">
                                    <a href="javascript:;" ng-click="lessonDialog(unit, lesson.lessonType, lesson)"
                                            op-multi-func="Platform_Courses_All_Update_UpdateLesson,Organization_Courses_All_Update_UpdateLesson,Organization_Courses_My_Update_UpdateLesson">
                                        编辑
                                    </a>
                                    <a href="javascript:;" ng-click="deleteLesson(lesson)"
                                            op-multi-func="Platform_Courses_All_Update_DeleteLesson,Organization_Courses_All_Update_DeleteLesson,Organization_Courses_My_Update_DeleteLesson">
                                        删除
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="table-operate"  colspan="3">
                                    <a href="javascript:;" ng-click="lessonDialog(unit,2)" op-multi-func="Platform_Courses_All_Update_CreateLive,Organization_Courses_All_Update_CreateLive,Organization_Courses_My_Update_CreateLive">
                                        +添加直播课
                                    </a>
                                    <a href="javascript:;" ng-click="lessonDialog(unit,1)" op-multi-func="Platform_Courses_All_Update_CreateRecord,Organization_Courses_All_Update_CreateRecord,Organization_Courses_My_Update_CreateRecord">
                                        +添加录播课
                                    </a>
                                    <span class="table-operate-line">|</span>
                                    <a href="javascript:;" ng-click="createLessons(unit)" op-multi-func="Platform_Courses_All_Update_BatchRecord,Organization_Courses_All_Update_BatchRecord,Organization_Courses_My_Update_BatchRecord">
                                        批量添加录播课
                                    </a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
    </div>
</script>

<!--新增/更新单元-->
<script type="text/ng-template" id="studyunit_dialog">
    <div class="modal-header">
        <h4>{{studyunit.unitId>0?"编辑单元":"添加单元"}}</h4>
        <span class="btn-close" ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="courseUnit">
            <div class="form-group">
                <label for="unitName" class="form-item-title">单元名称</label>
                <input type="text" class="form-control" id="unitName" ng-model="studyunit.unitName" placeholder="最长15个汉字" required ng-maxlength="15" maxlength="15">
            </div>
            <div class="form-group">
                <label for="unitSeq" class="form-item-title">单元排序</label>
                <input type="text" class="form-control" id="unitSeq" ng-model="studyunit.unitSequence" required placeholder="单元排序">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-do-m" ng-click="save()" ng-disabled="processing || courseUnit.$invalid" ng-dblclick="return;">保存</button>
        <button type="submit" class="btn btn-info btn-do-m" ng-click="cancel()" ng-disabled="processing">取消</button>
    </div>
</script>

<!--新增/更新课节-->
<script type="text/ng-template" id="lesson_dialog">
    <div class="modal-header">
        <h4>{{lesson.lessonId>0?"编辑":"添加"}}{{lesson.lessonType == 2?"直播课":"录播课"}}</h4>
        <span class="btn-close" ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="courseLesson">
            <div class="form-group">
                <label for="lessonName" class="form-item-title">课节名称</label>
                <input type="text" class="form-control" id="unitName" ng-model="lesson.lessonName" placeholder="最长20个汉字" maxlength="20">
            </div>
            <div class="form-group">
                <label for="lessonSequence" class="form-item-title">课节排序</label>
                <input type="text" class="form-control" id="lessonSequence" ng-model="lesson.lessonSequence" placeholder="课节排序">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-do-m" ng-click="save()" ng-disabled="processing" ng-dblclick="return;">保存</button>
        <button type="submit" class="btn btn-info btn-do-m" ng-click="cancel()" ng-disabled="processing">取消</button>
    </div>
</script>

<!--关联课件-->
<script type="text/ng-template" id="courseware_dialog">
    <div class="modal-header">
        <h4>关联课件</h4>
        <span class="btn-close" ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <form class="form-horizontal operate-batch-courseware">
            <div class="form-group">
                <label for="coursewareLibraryId" class="form-item-long-title">课件库ID</label>
                <input type="text" class="form-control" id="coursewareLibraryId" ng-model="coursewareLibraryId" placeholder="课件库ID" ng-keyup="getCourseware($event)">
                <button type="button" class="btn btn-success btn-do-ms" ng-click="getCoursewares()">查询</button>
            </div>
            <div class="form-group">
                <label for="coursewareLibraryId" class="form-item-long-title">选择课件库</label>
                <select class="form-control" ng-change="libraryChange()" ng-model="selectedLibrary" ng-options="lib as lib.libraryName for lib in libraries">
                    <option value="">请选择课件库</option>
                </select>
            </div>
            <div class="form-group">
                <label for="coursewares" class="form-item-long-title">选择课件</label>
                <ul class="selection-list">
                    <li ng-repeat="courseware in coursewares">
                        <input type="radio" name="coursewareId" value="{{courseware.coursewareId}}" ng-model="$parent.selectedCoursewareId"> {{courseware.coursewareName}}
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-do-m" ng-disabled="!coursewares || coursewares.length==0 || processing || !selectedCoursewareId" ng-click="relate()" ng-dblclick="return;">保存</button>
        <button type="button" class="btn btn-info btn-do-m" ng-click="cancel()" ng-disabled="processing">取消</button>
    </div>
</script>

<!--批量添加录播课-->
<script type="text/ng-template" id="create_lessons_dialog">
    <div class="modal-header">
        <h4>批量添加录播课</h4>
        <span class="btn-close" ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <form class="form-horizontal operate-batch-courseware">
            <div class="form-group">
                <label for="coursewareLibraryId" class="form-item-long-title">课件库ID</label>
                <input type="text" class="form-control" id="coursewareLibraryId" ng-model="coursewareLibraryId" ng-keyup="getLibrary($event)" placeholder="课件库ID">
                <button type="button" class="btn btn-success btn-do-ms" ng-click="getCoursewares()">查询</button>
            </div>
            <div class="form-group">
                <label for="coursewareLibraryId" class="form-item-long-title">选择课件库</label>
                <select class="form-control" ng-change="libraryChange()" ng-model="selectedLibrary" ng-options="lib as lib.libraryName for lib in libraries">
                    <option value="">请选择课件库</option>
                </select>
            </div>
            <div class="form-group">
                <label for="coursewares" class="form-item-long-title">选择课件</label>
                <ul class="selection-list">
                    <li ng-repeat="courseware in coursewares">
                        <input type="checkbox" value="{{courseware.coursewareId}}" ng-model="courseware.isSelected">
                            {{courseware.coursewareName}}
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-do-m" ng-click="save()" ng-disabled="!coursewares || processing" ng-dblclick="return;">关联</button>
        <button type="button" class="btn btn-info btn-do-m" ng-click="cancel()" ng-disabled="processing">取消</button>
    </div>
</script>


<!--同步到班级-->
<script type="text/ng-template" id="sync_lessons_dialog">
    <div class="modal-header">
        <h4>请选择需要同步的班级</h4>
        <span class="btn-close" ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="coursewares" class="form-item-title">选择班级</label>
                <div class="selection-list">
                    <div ng-repeat="class in classes">
                        <label>
                            <input type="checkbox" value="{{class.classId}}" ng-model="class.isSelected">
                            {{class.className}} - {{class.shortName}}
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-do-m" ng-click="save()" ng-disabled="!classes || processing" ng-dblclick="return;">确认同步</button>
        <button type="button" class="btn btn-info btn-do-m" ng-click="cancel()" ng-disabled="processing">取消</button>
    </div>
</script>

<!--Excel导入-->
<script type="text/ng-template" id="excel_dialog">
    <div class="modal-header">
        <h4>{{excel.title}}</h4>
        <span class="btn-close" ng-click="cancel()"></span>
    </div>
    <div class="modal-body create-courseware ng-scope">
        <div class="clearfix ng-binding">
            <label for="coursewareLibraryId">{{file ? (file.name | filesshortname) : excel.fileMemo}}</label>
            <div class="pull-right">
                <button class="btn btn-success btn-do-s" ngf-select ng-model="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    选择文件
                </button>
            </div>
            <p>导入Excel会覆盖当前所有单元和课节，请谨慎操作！</p>
        </div>
    </div>
    <div class="modal-footer text-inform">
        <a class="btn btn-success btn-do-m create-courseware-confirm" ng-click="upload()" ng-show="file" ng-disabled="processing" ng-dblclick="return;">确定上传</a>
        <span>
            您可以先下载格式模板：<a ng-href="{{excel.url}}" download="xlsx">{{excel.name}}.xlsx</a>
        </span>
    </div>
</script>